<template>
  <div class="hero">
    <h3 class="vue-title">{{messagetitle}}</h3>
  </div>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      messagetitle: ' About Us '
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
