<template>
  <div class="hero">
    <h3 class="vue-title">{{messagetitle}}</h3>
    <el-divider content-position="left"><h1>Illustration</h1></el-divider>
    <el-carousel :interval="4000" type="card" height="400px">
      <el-carousel-item v-for="item in dataimg" :key="item" :disabled="false">
        <h3 class="medium">
          <img :src="item.src" style="height: 100%; width: 100%">
        </h3>
      </el-carousel-item>
    </el-carousel>
    <el-divider content-position="left"><h1>Sketch</h1></el-divider>
    <el-carousel :interval="4000" type="card" height="400px">
      <el-carousel-item v-for="item in sketch" :key="item">
        <h3 class="medium">
          <img :src="item.src" style="height: 100%; width: 100%">
        </h3>
      </el-carousel-item>
    </el-carousel>
    <el-divider content-position="left"><h1>Painting</h1></el-divider>
    <el-carousel :interval="4000" type="card" height="400px">
      <el-carousel-item v-for="item in painting" :key="item">
        <h3 class="medium">
          <img :src="item.src" style="height: 100%; width: 100%">
        </h3>
      </el-carousel-item>
    </el-carousel>
    <el-divider content-position="left"><h1>Popular Arts</h1></el-divider>
    <div id="app1" style="margin-top: 50px">
      <v-client-table :columns="columns" :data="artwork" :options="options">
        <a  slot="view" slot-scope="props" class="fa fa-eye fa-2x" @click="view(props.row._id)"></a>
        <a  slot="remove" slot-scope="props" class="fa fa-trash-o fa-2x" @click="removeArtwork(props.row.art_name)"></a>
        <a  slot="edit" slot-scope="props" class="fa fa-edit fa-2x" @click="editArtwork(props.row._id)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
import CommunityService from '@/services/communityservice'
import Vue from 'vue'
import VueTables from 'vue-tables-2'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

export default {
  name: 'Community',
  data () {
    return {
      dataimg: [
        { src: require('@/assets/1.jpg')
        },
        { src: require('@/assets/2.jpg')
        },
        { src: require('@/assets/3.jpg')
        },
        { src: require('@/assets/4.jpg')
        },
        { src: require('@/assets/5.jpg')
        }
      ],
      sketch: [
        { src: require('@/assets/sketch1.jpeg')
        },
        { src: require('@/assets/sketch2.jpeg')
        },
        { src: require('@/assets/sketch3.jpeg')
        },
        { src: require('@/assets/sketch4.jpeg')
        },
        { src: require('@/assets/sketch5.jpeg')
        }
      ],
      painting: [
        { src: require('@/assets/p1.jpeg')
        },
        { src: require('@/assets/p2.jpeg')
        },
        { src: require('@/assets/p3.jpeg')
        },
        { src: require('@/assets/p4.jpeg')
        },
        { src: require('@/assets/p5.jpeg')
        }
      ],
      messagetitle: ' Artwork Community ',
      artwork: [],
      props: ['_id'],
      errors: [],
      columns: ['_id', 'art_name', 'art_type', 'author', 'description', 'view_times', 'view', 'remove', 'edit'],
      options: {
        perpage: 10,
        filterable: ['_id', 'art_name', 'art_type', 'author', 'view_times', 'description'],
        sortable: ['view_times'],
        headings: {
          _id: 'ID',
          art_name: 'Art',
          author: 'Author',
          art_type: 'Art Type',
          description: 'Description',
          view_times: 'View Times'
        }
      }
    }
  },
  // Fetches Donations when the component is created.
  created () {
    this.loadArtwork()
  },
  methods: {
    loadArtwork: function () {
      CommunityService.fetchArtwork()
        .then(response => {
          // JSON responses are automatically parsed.
          this.artwork = response.data
          console.log(this.artwork)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },

    view: function (id) {
      CommunityService.viewArtwork(id)
        .then(response => {
          // JSON responses are automatically parsed.
          this.loadArtwork()
          console.log(response)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    editArtwork: function (id) {
      this.$router.params = id
      this.$router.push('edit')
    },
    // eslint-disable-next-line camelcase
    removeArtwork: function (art_name) {
      this.$swal({
        title: 'Are you totaly sure?',
        text: 'You can\'t Undo this action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'OK Delete it',
        cancelButtonText: 'Cancel',
        showCloseButton: true
        // showLoaderOnConfirm: true
      }).then((result) => {
        console.log('SWAL Result : ' + result.value)
        if (result.value === true) {
          CommunityService.removeArtwork(art_name)
            .then(response => {
              // JSON responses are automatically parsed.
              this.message = response.data
              console.log(this.message)
              this.loadArtwork()
              // Vue.nextTick(() => this.$refs.vuetable.refresh())
              this.$swal('Deleted', 'You successfully deleted this Artwork ' + JSON.stringify(response.data, null, 5), 'success')
            })
            .catch(error => {
              this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
              this.errors.push(error)
              console.log(error)
            })
        } else {
          console.log('SWAL Else Result : ' + result.value)
          this.$swal('Cancelled', 'Your Artwork is still here!', 'info')
        }
      })
    }

  }
}
</script>

<style scoped>
  #app1 {
    width: 90%;
    margin: 0 auto;
    cursor: pointer
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
  pointer {
    cursor: pointer;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }
</style>
