<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i class="fa fa-money" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <Publish-list :artwork="artwork" publishBtnTitle="Update Artwork"
                        @artwork-is-created-updated="updateArtwork"></Publish-list>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
import communityservice from '@/services/communityservice'
import PublishList from '@/components/PublishList'

export default {
  data () {
    return {
      artwork: {},
      childDataLoaded: false,
      temp: {},
      messagetitle: ' Update Artwork '
    }
  },
  components: {
    'Publish-list': PublishList
  },
  created () {
    this.getArtwork()
  },
  methods: {
    getArtwork: function () {
      communityservice.fetchDonation(this.$router.params)
        .then(response => {
          this.temp = response.data
          this.artwork = this.temp[0]
          this.childDataLoaded = true
          console.log('Getting Artwork in Edit: ' + JSON.stringify(this.artwork, null, 5))
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    updateArtwork: function (artwork) {
      console.log('Before PUT ' + JSON.stringify(artwork, null, 5))
      communityservice.putArtwork(this.$router.params, artwork)
        .then(response => {
          console.log(response)
          console.log('AFTER PUT ' + JSON.stringify(artwork, null, 5))
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
