<template>
  <div id="directors">
    <div class="left"></div>
    <div class="line">
      <div class="line-in"></div>
    </div>
    <div class="right"></div>
    <div class="left-content">
      <span class="redblock"></span>
      <h1>idea?</h1>
      <h1>IDEA!</h1>
      <p>Dive into this resource <br><br>
        Find useful stuff you need</p>
      <span class="blackblock"></span>
    </div>
    <div class="right-content">
      <span class="redblock"></span>
      <h2>2019 Apple WWDC</h2>
      <h1>Top 10 Creative Application</h1>
      <router-link to="/signup"><p style="font-size: 27px">->Join Us</p></router-link>
      <router-link to="/about"><p style="font-size: 27px">->About Us</p></router-link>
      <router-link to="/community"><p style="font-size: 27px">->Explore</p></router-link>
      <router-link to="/entrance"><p style="font-size: 27px">->Your Page</p></router-link>
      <span class="blackblock"></span>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: 'Home',
  data () {
    return {
      messagetitle: ' Home '
    }
  },
  created () {
    $(document).ready(function () {
      $(function () {
        $('.line-in').css({'height': '100%', 'background-color': '#000'})
        $('.left').css('width', '55%')
        $('.right').css('width', '55%')
        setTimeout(function () {
          $('.left-content').css({'display': 'block'})
          $('.right-content').css({'display': 'block'})
        }, 700)
        setTimeout(function () {
          $('.left-content').on('mouseover', function () {
            $('.left').css({'width': '0', 'transition': 'width .5s', 'background': '#ffffff'})
            $('.right').css({'width': '50%', 'transition': 'width .2s', 'background': '#000000'})
            $(this).css({'left': '150px'})
            $('.left-content h1').css({'color': '#000000'})
            $('.right-content h1').css({'color': '#ffffff'})
            $('.left-content .redblock').css('width', '50px')
            $('.left-content .blackblock').css({'width': '200px', 'background-color': '#e74c4c'})
          })
          $('.left-content').on('mouseout', function () {
            $('.left').css({'width': '55%', 'transition': 'width .2s'})
            $('.right').css({'width': '55%', 'transition': 'width .2s'})
            $(this).css({'left': '120px'})
            $('.left-content .redblock').css('width', '17px')
            $('.left-content .blackblock').css({'width': '143px', 'background-color': '#2f2f2f'})
          })
          $('.right-content').on('mouseover', function () {
            $('.right').css({'width': '0', 'transition': 'width .5s', 'background': '#ffffff'})
            $('.left').css({'width': '50%', 'transition': 'width .2s', 'background': '#000000'})
            $(this).css({'right': '150px'})
            $('.left-content h1').css({'color': '#ffffff'})
            $('.right-content h1').css({'color': '#000000'})
            $('.right-content .redblock').css('width', '50px')
            $('.right-content .blackblock').css({'width': '200px', 'background-color': '#e74c4c'})
          })
          $('.right-content').on('mouseout', function () {
            $('.right').css({'width': '55%', 'transition': 'width .2s'})
            $('.left').css({'width': '55%', 'transition': 'width .2s'})
            $(this).css({'right': '120px'})
            $('.right-content .redblock').css('width', '17px')
            $('.right-content .blackblock').css({'width': '143px', 'background-color': '#2f2f2f'})
          })
        }, 1000)
      })
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #directors .line {
    width: 10px;
    height: 100%;
    margin: 0 auto;
    background-color: #000;
    transform: skew(-5deg);
  }

  #directors .line-in {
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: height .5s, background-color .5s 1s;
  }

  #directors .left, #directors .right {
    position: absolute;
    top: 88px;
    width: 0;
    height: 100%;
    transform: skew(-5deg);
    z-index: 1;
    background: black;
    transition: width .5s .5s;

  }

  #directors .left {
    left: -78px;
  }

  #directors .right {
    right: -78px;
  }

  #directors .left-content, #directors .right-content {
    position: absolute;
    top: 100px;
    width: 400px;
    height: 400px;
    font-weight: bold;
    font-size: 60px;
    z-index: 10;
    cursor: pointer;
    display: none;
  }

  #directors .left-content {
    left: 120px;
    text-align: left;
    transition: color 1s, left .5s;

  }

  #directors .right-content {
    right: 120px;
    text-align: right;
    transition: color 1s, right .5s;

  }

  #directors .left-content:hover .left {
    width: 0;
  }

  #directors .redblock {
    display: inline-block;
    background-color: #e74c4c;
    width: 17px;
    height: 4px;
    margin-bottom: 60px;
    transition: width .5s;
  }

  #directors h1 {
    color: #ffffff;
    line-height: 110px;
    font-size: 90px;
    font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
  }

  #directors p {
    margin: 30px 0 20px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: "LetterGothicStd-Slanted", "Lucida Console", Monaco, monospace;
  }

  #directors .blackblock {
    display: inline-block;
    background-color: #2f2f2f;
    width: 143px;
    height: 9px;
    margin-top: 30px;
    transition: width .5s, background-color .5s;
  }
</style>
