<template>
  <div class="hero" id="login">
    <!--<v-container grid-list-md text-xs-center>-->
    <!--<v-layout justify-center row>-->
    <v-row justify="center">
      <v-col>
        <!--<v-flex xs12 sm10 md8 lg6>-->
        <v-card id="loginCard" ref="form">
          <v-card-title class="display-1 pl-5 pt-5">LOGIN</v-card-title>
          <h1>{{ msg }}</h1>
          <v-card-text>
            <form @submit.prevent="submit">
              <v-text-field label="Email"
                            ref="email"
                            v-model="email"
                            :error-messages="checkEmail"
                            required
                            @input="$v.email.$touch()" @blur="$v.email.$touch()" :rules="emailRules">
              </v-text-field>
              <v-text-field v-model="password"
                            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                            :error-messages="checkPassword"
                            :counter="15"
                            label="Password"
                            required
                            :type="show ? 'text' : 'password'"
                            @click:append="show = !show"
                            @input="$v.password.$touch()" @blur="$v.password.$touch()">
              </v-text-field>
              <!--<v-container fluid>-->
              <!--<v-radio-group v-model="role">-->
              <!--<v-radio label="Member"  value="member" :mandatory="false" row></v-radio>-->
              <!--<v-radio label="Administrator" value="admin"></v-radio>-->
              <!--</v-radio-group>-->
              <!--</v-container>-->
              <v-btn class="mr-4" @click="submit">submit</v-btn>
              <p class="typo__p red--text" v-if="submitStatus === 'ERROR'">Please input email and password correctly.</p>
              <p class="typo__p red--text" v-if="isLogged === 'NO'">{{message}}</p>
              <p class="typo__p green--text" v-if="isLogged === 'YES'">{{message}}</p>
              <p class="typo__p orange--text" v-if="submitStatus === 'PENDING'"> Please waiting ...</p>
            </form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!--</v-flex>-->
    <!--</v-layout>-->
    <!--</v-container>-->
  </div>
</template>

<script>
import AdminService from '@/services/administratorservice'
import MemberService from '@/services/memberservice'
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators'

Vue.use(Vuelidate)

export default {
  name: 'Login',

  validations: {
    email: { required, email },
    password: { required, minLength: minLength(8), maxLength: maxLength(15) }
  },
  computed: {
    checkEmail () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Please input valid email')
      !this.$v.email.required && errors.push('Email is required')
      return errors
    },
    checkPassword () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('Password must be at least 8 characters')
      !this.$v.password.maxLength && errors.push('Password must be less than 15 characters')
      !this.$v.password.required && errors.push('Password is required.')
      return errors
    }
  },
  data () {
    return {
      email: '',
      password: '',
      show: false,
      role: 'customer',
      submitStatus: null,
      isLogged: null,
      msg: '',
      emailRules: [
        v => !!v || 'Email is required',
        v => /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/.test(v) || 'Please input valid email'
      ],
      message: ''
    }
  },
  methods: {
    login (response) {
      this.msg = `Welcome, ${response.name}, to Our Website`
      console.log(`Successful login for: ${response.name}`)
      console.log(response)
    },
    error (response) {
      console.log('Failed to login.')
      console.log(response)
    },
    submit () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        let user = {'email': this.email, 'password': this.password}
        if (this.role === 'customer') {
          MemberService.Login(user).then(response => {
            if (response.data.data === null) {
              this.message = ''
              this.message = response.data.message
              this.isLogged = 'NO'
            } else {
              this.isLogged = 'YES'
              sessionStorage.setItem('token', response.headers.token)
              console.log(response.headers.token)
              sessionStorage.setItem('email', response.data.data.email)
              sessionStorage.setItem('role', this.role)
              // sessionStorage.setItem('name', response.data.data.name)
              this.message = ''
              this.message = response.data.message
              this.submitStatus = 'PENDING'
              // setTimeout(() => {
              //   this.$router.go(0)
              // }, 1000)
              this.$swal('Congratulations!', 'Log in successfully! ')
              this.$router.go(0)
            }
          })
        } else if (this.role === 'admin') {
          let user = {'email': this.email, 'password': this.password}
          AdminService.Login(user).then(response => {
            if (response.data.data === null) {
              this.isLogged = 'NO'
              this.message = ''
              this.message = response.data.message
            } else {
              this.isLogged = 'YES'
              // const token = response.data.token
              sessionStorage.setItem('token', response.headers.token)
              sessionStorage.setItem('id', response.data.data._id)
              sessionStorage.setItem('email', response.data.data.email)
              sessionStorage.setItem('role', this.role)
              console.log(response.headers.token)
              console.log(response.data._id)
              console.log(this.role)
              this.message = ''
              this.message = response.data.message
              this.submitStatus = 'PENDING'
              this.$swal('Congratulations!', 'Log in successfully!')
              // this.$router.push('/AdminInfo')
              this.$router.go(0)
            }
          })
        }
      }
    }
  }
}
</script>

<style scoped>
  #loginCard {
    min-width: 500px;
  }

</style>
