<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-sign-out" style="padding: 3px"></i>{{messagetitle}}</h3>
  </div>
</template>

<script>
export default {
  name: 'Logout',
  data () {
    return {
      messagetitle: ' Logout '
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
