<template>
  <div id="app1" class="hero">
    <h3 class="vue-title">{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <Publish-list :artwork="artwork" publishBtnTitle="Publish Your Work"
                         @artwork-is-created-updated="publish"></Publish-list>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
import CommunityService from '@/services/communityservice'
import PublishList from '@/components/PublishList'

export default {
  data () {
    return {
      artwork: {art_name: '', author: '', art_type: 'Painting', description: ''},
      messagetitle: ' Publish Your Work Here '
    }
  },
  components: {
    'Publish-list': PublishList
  },
  methods: {
    publish: function (artwork) {
      CommunityService.postArtwork(artwork)
        .then(response => {
          console.log(response)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
