<template>
          <form @publish.prevent="publish">
            <div class="form-group">
              <label class="form-label">Choose Your Art Category</label>
              <select id="art_type" name="art_type" class="form-control" type="text" v-model="art_type">
                <option value="null" selected disabled hidden>Art Category</option>
                <option value="Painting">Painting</option>
                <option value="Illustration">Illustration</option>
                <option value="Sketch">Sketch</option>
              </select>
            </div>
<!--            <div class="form-group" :class="{ 'form-group&#45;&#45;error': $v.piece_amount.$error }">-->
<!--              <label class="form-control-label" name="amount">Tell Us The Piece Amount Of Your Work (Enter a number between 1 and 5)</label>-->
<!--              <input class="form__input" type="number" v-model.trim="piece_amount"/>-->
<!--            </div>-->
<!--            <div class="error" v-if="!$v.piece_amount.between">Amount of pieces uploaded can not be zero, maximun is 5</div>-->
            <div class="form-group" :class="{ 'form-group--error': $v.art_name.$error }">
              <label class="form__label">Name Your Cool Work</label>
              <input class="form__input" v-model.trim="$v.art_name.$model"/>
            </div>
            <div class="error" v-if="!$v.art_name.required">Can't Believe This Piece Of Work DON'T Have A Name</div>
            <div class="error" v-if="!$v.art_name.maxLength">Name Can Only Include {{$v.art_name.$params.maxLength.max}} Letters, Save Some For The Description!</div>
            <div class="form-group" :class="{ 'form-group--error': $v.author.$error }">
              <label class="form__label">This Masterpiece Belongs To?</label>
              <input class="form__input" v-model.trim="$v.author.$model"/>
            </div>
            <div class="error" v-if="!$v.author.required">This Work Belongs To Nobody?</div>
            <div class="error" v-if="!$v.author.maxLength">Knowing You Are Good At Autograph. Make Your Fancy Name Short! Keep It Under {{$v.author.$params.maxLength.max}} Letters</div>
            <div class="form-group" :class="{ 'form-group--error': $v.description.$error }">
              <label class="form__label">Tell Us More About This Work</label>
              <input class="form__input" v-model.trim="$v.description.$model"/>
            </div>
            <div class="error" v-if="!$v.description.required">Come On! Don't Make It Mysterious!</div>
            <div class="error" v-if="!$v.description.maxLength">People Prefer Simple & Brief! Make It Under {{$v.description.$params.maxLength.max}} Letters</div>
            <p>
              <button class="btn btn-primary btn1" type="publish" :disabled="submitStatus === 'PENDING'" @click="publish">{{ publishBtnTitle }}</button>
            </p>
            <p>
              <a href="#/community" class="btn btn-primary btn1" role="button">Visit Community</a>
            </p>
            <p class="typo_p" v-if="submitStatus === 'OK'">Stay Put & Wait For Applause</p>
            <p class="typo_p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
            <p class="typo_p" v-if="submitStatus === 'PENDING'">Publishing</p>
          </form>
</template>

<script>
import Vue from 'vue'
import VueForm from 'vueform'
import Vuelidate from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'

Vue.use(VueForm, {
  inputClasses: {
    valid: 'form-control-success',
    invalid: 'form-control-danger'
  }
})

Vue.use(Vuelidate)

export default {
  name: 'ListData',
  props: ['publishBtnTitle', 'artwork'],
  data () {
    return {
      messagetitle: ' Publish Your Work Here! ',
      art_type: this.artwork.art_type,
      art_name: this.artwork.art_name,
      author: this.artwork.author,
      view_times: 0,
      description: this.artwork.description,
      submitStatus: null
    }
  },
  validations: {
    author: {
      required,
      maxLength: maxLength(25)
    },
    description: {
      required,
      maxLength: maxLength(150)
    },
    art_name: {
      required,
      maxLength: maxLength(40)
    }
  },
  methods: {
    publish () {
      console.log('publish')
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        // do your submit logic here
        this.submitStatus = 'PENDING'
        setTimeout(() => {
          this.submitStatus = 'OK'
          var artwork = {
            art_name: this.art_name,
            art_type: this.art_type,
            author: this.author,
            description: this.description,
            view_times: this.view_times
          }
          this.artwork = artwork
          console.log('Publishing in PublishList : ' + JSON.stringify(this.artwork, null, 5))
          this.$emit('artwork-is-created-updated', this.artwork)
        }, 500)
      }
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }
  .donate-form .form-control-label.text-left{
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }
  .typo_p {
    width: 540px;
    font-size: x-large;
  }
  .btn1 {
    width: 300px;
    font-size: x-large;
  }
  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
