<template>
  <div class="hero">
    <h3 class="vue-title">{{messagetitle}}</h3>
    <p class="lead">If you have any questions just contact us! </p>
    <p class="lead"><b>jackshawhia@gmail.com</b> is our email!</p>
  </div>
</template>

<script>
export default {
  name: 'Support',
  data () {
    return {
      messagetitle: ' We Have Everything You Need! '
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
