<template>
  <div id="app" style="margin-top: 0px">
    <b-navbar toggleable="md" variant="dark" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <img src="./assets/logo.png" class="img-circle" style="padding: 5px">
      <b-navbar-brand to="/#">Aesthetic Idea Exchange Community</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/entrance"><i class="fa fa-home" style="padding: 5px"> Home</i></b-nav-item>
          <b-nav-item to="/community"><i class="fa fa-list" style="padding: 5px"> Community</i></b-nav-item>
          <b-nav-item to="/forum"><i class="fa fa-users" style="padding: 5px"> Forum</i></b-nav-item>
          <b-nav-item to="/map"><i class="fa fa-globe" style="padding: 5px">Map</i></b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/publish"><i class="fa fa-external-link-square" style="padding: 5px"> Publish</i></b-nav-item>
          <b-nav-item to="/about"><i class="fa fa-info" style="padding: 5px"> About</i></b-nav-item>
<!--          <b-nav-item to="/contact"><i class="fa fa-comment" style="padding: 5px"> ContactUs</i></b-nav-item>-->
          <b-nav-item to="/support"><i class="fa fa-support" style="padding: 5px"> Support</i></b-nav-item>
          <b-nav-item to="/SignUp"><i class="fa fa-money" style="padding: 5px"> SignUp </i></b-nav-item>
<!--          <b-nav-item to="/login"><i class="fa fa-sign-in" style="padding: 5px"> Login </i></b-nav-item>-->
<!--          <b-nav-item to="/logout"><i class="fa fa-sign-out" style="padding: 5px"> Logout </i></b-nav-item>-->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>/* eslint-disable */

export default {
  name: 'App'
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    /*background: url("./assets/bg.png") repeat center top;*/
  }
  .VueTables_sortable {
  cursor: pointer
  }
</style>
